<div class="wrapper">
  <div class="topicos">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <ul class="topicos-footer">
            <h4>Traning Banking</h4>
            <a href=""><li>Quem somos</li></a>
            <a href=""><li>Nossos serviços</li></a>
            <a href=""><li>Carreiras</li></a>
            <a href=""><li>Desenvolvedores</li></a>
          </ul>
        </div>
        <hr>
        <div class="col-md-3">
          <ul class="topicos-footer">
            <h4>Para você</h4>
            <a href=""><li>Abra sua conta</li></a>
            <a href=""><li>Cartões de crédito</li></a>
            <a href=""><li>Créditos e finaciamentos</li></a>
            <a href=""><li>Investimentos pessoa fisica</li></a>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="topicos-footer">
            <h4>Segmentos</h4>
            <a href=""><li>Comercial banking</li></a>
            <a href=""><li>Seguros </li></a>
            <a href=""><li>Tesouro direto</li></a>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="topicos-footer">
            <h4>Veja também</h4>
            <a href=""><li>Fatura de cartão</li></a>
            <a href=""><li>Financeira</li></a>
            <a href=""><li>Consórcio</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="rodape">
    <p class="text-center" style="padding-bottom:0px">&copy; Todos os Direitos reservados a
      <b>Traning Banking</b>
    </p>
  </footer>
</div>